---
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Neve Blog Homepage">
	<Main>
		<H1 text="Neve Blog"/>
	</Main>
</Layout>