---
import  {urlForImage}  from "../lib/urlForImage";
const { post } = Astro.props;
---

<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3">
  <div class="md:flex">
    <div class="md:flex-shrink-0">
      {post.image && <img src={urlForImage(post.image).url()} alt="post.image.alt" class="size-10"/>}
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">category</div>
      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{post.title}</a>
      <p class="mt-2 text-gray-500 line-clamp-2">{post.text}</p>
    </div>
  </div>
</div>